@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family:'Poppins';
    /* overflow: hidden; */
}

body{
    background: rgb(0, 0, 0);
}

.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
}

.profile-pic{
    width: 160px; 
    height: 160px;
    border-radius: 50%; 
    background-color: #333; 
    margin: 0 30px;
    position: relative;
    overflow: hidden;
}

.profile-pic:hover{
    scale: 130%;
    transition: 0.2s;
}

.container{
    max-width: 100%;
    height: 100vh;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

nav{
    width: 100%;
    padding: 2rem 2rem;
    position: absolute;
    color: aliceblue;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

nav ul{
    width: 30%;
    justify-content: center;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5rem;
    display: flex;
}

nav li{
    padding: 1rem 2rem;
}

.count{
    width: 80%;
    height: 80vh;
    color: azure;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    border: solid 10px rgb(255, 255, 255);
    margin-bottom: 100px;
    transform: translate(12%)
}

.counter{
    display: flex;
    padding: 1rem;
    font-size: 3rem;
}

.counter-item{
    padding: 2rem 4rem;
    /* font-size: 3rem; */
}

.vid-container{
    max-width: 100%;
    height: 100vh;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent,black);
    position: absolute;
    z-index: 99;
}

.home-text{
    width: 100%;
    height: 100%;
    position: absolute;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    /* padding: 1rem 2rem; */
    line-height: 8rem;
    top: 5%;
}

.middle-home{
    color: yellow;
    border: solid 2px rgb(255, 255, 255);
    padding: 0.5rem 3rem;
    border-radius: 5rem;
}

button{
    width: fit-content;
    border: solid 1px rgb(255, 255, 255);
    background: transparent;
    font-size: 1rem;
    padding: 0rem 2rem;
    color: aliceblue;
}

.home-btn button{
    padding: 1rem 1rem;
}

.craft-text{
    width: 100%;
    height: 100%;
    position: absolute;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 3rem;
    /* padding: 1rem 2rem; */
    line-height: 5rem;
    top: 5%;
}

.middle{
    color: orange;
    font-weight: 800;
    font-size: 4rem;
    stroke: black;
    stroke-width: 1rem;
    /* border: solid 1px black; */
}

.shorts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 80vh;
    /* background: rgba(255, 255, 255, 0.727); */
    transform: translate(6%,80%);
}

.video{
    width: 20%;
    height: 80%;
    border: solid 1px white;
    border-radius: 2rem;
    background: rgb(0, 0, 0);
}

.video1{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%) translateX(-15%) rotate(-7deg);
}
.video2{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10%) rotate(-5deg);
}
.video3{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%) rotate(5deg);
}
.video4{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-60%) translateX(15%) rotate(7deg);
}

#vid{
    border-radius: 2rem;
}

.creator{
    width: 90%;
    height: 90vh;
    background-color: rgb(255, 167, 227);
    /* position: absolute; */
    /* top: 390%; */
    /* bottom: 20%; */
    transform: translate(6%,65%);
    border-radius: 2rem;
    /* padding: 2rem; */
    margin-bottom: 2rem;
}

.creator-head{
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 2rem;
    padding: 1rem 4rem;
}

.create-name{
    width: 90%;
    height: 60%;
    background-color: aliceblue;
    transform: translate(5%);
    border-radius: 2rem;
}

.steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* position: absolute; */
    height: 150vh;
    /* border: solid 50px black; */
    transform: translate(0%,50%);
    width: 100%;
    /* background-color: rgb(255, 0, 0); */
    padding: 1rem;
}

.steps-text{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.steps-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.content{
    width: 30%;
    height: 93vh;
    position: relative;
    /* background-color: aliceblue; */
    margin: 1rem 1rem;
    /* font-size: 1.2rem; */
}

.image-container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 75%;
    border-radius: 15px;
    padding-top: 100%; 
}

.number {
    position: absolute;
    bottom: 110px; 
    right: -20px; 
    text-align: center;
    font-size: 1.5rem; 
    /* background: rgba(255, 255, 255, 0.5);  */
    font-size: 5rem;
    font-weight: 600;
    color: orange;
    padding: 5px; 
    border-radius: 5px; 
}
h2 {
    font-size: 2.5rem;
    margin-top: 50px; 
}

p {
    font-size: 3rem;
}

.features{
    width: 100%;
    height: 100vh;
    transform: translate(0%,80%);
    /* background: red; */
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2rem; */
}

.features-1, .features-2{
    display: flex;
    /* flex-wrap: wrap; */
    width: 80%;
    height: 40%;
    /* background: wheat; */
    justify-content: space-between;
    transform: translate(12%);
    margin-top: 2rem;
}

.features-1 .item,
.features-2 .item{
    margin: 10px; /* Adjust this value to control the spacing between items */
    width: calc(33.33% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
    /* background: #ffffff; */
    padding: 20px;
    background: transparent;
}

.item img {
    filter: hue-rotate(220deg);
    border-radius: 1rem;
    width: 30%; /* Make the image fill the width of the item div */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default inline styles that may affect alignment */
}

.item-text {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 130px;
    color: rgb(255, 255, 255); /* Adjust text color as needed */
}

.features-text{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.subscription{
    width: 100%;
    height: 150vh;
    background:wheat;
    transform: translate(0%,70%);
}

.subscription-text{
    margin-top: 2rem;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    transform: translate(0%,20%);
}

.registration{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 60vh;
    border: solid 10px rgb(0, 0, 0);
    transform: translate(13%,20%);
    padding: 2rem 2rem;
}

.registration h1{
    color: black;
    font-size: 5rem;
    font-weight: 100;
    transform: translate(0%,-50%);
}

.registration button{
    color: black;
    border: solid 2px black;
    width: 20%;
    font-size: 2rem;
}

.registration button:hover{
    color: aliceblue;
    background: black;
    transition: 0.5s;
}